* {
	font-family: "Inter", sans-serif;
	margin: 0;
}

.wraper {
	min-height: 100%;
	position: relative;
	float: left;
	width: 100%;
}
.menu {
	position: sticky;
}
.menu li {
	width: fit-content;
	background-color: rgb(48, 48, 49);
	font-size: large;
	font-weight: bold;
	color: rgb(255, 255, 255);
	text-decoration: none;
	height: 1400px;
	text-align: center;
}
.menu li ul a {
	text-decoration: none;
	color: rgb(255, 255, 255);
}
.menu li ul {
	padding: 0;
	padding-top: 20px;
}
.nav {
	padding-top: 550px;
	width: fit-content;
	top: -1760px;
	position: relative;
}

.menu li ul:hover > a {
	color: rgb(0, 119, 255);
}

#iniciar {
	float: right;
	position: flex;
}

header {
	background-color: hsl(195, 100%, 36%);

	padding: 7em;
}

header,
h1 {
	font-family: 'Archivo Black', sans-serif;
	text-align: center;

	color: rgb(255, 255, 255);
	text-shadow: 0.05em 0.05em 0.2em rgb(83, 83, 83);
}
.imagen{
	position: absolute;
	left: 550px;
	top: 10px;
}
.yo {
	position: absolute;
	box-shadow: 0.1em 0.1em 1em rgb(26, 98, 255);
	width: 250px;
	left: 55em;
	top: 1em;
	border: 0.5em solid rgb(89, 147, 255);
	background: -o-linear-gradient(rgb(133, 0, 167), rgb(255, 75, 240));
}

.datos {
	color: rgb(255, 255, 255);
	left: 2em;
}

#columna1 {
	background-color: #008cba;
}
#columna2 {
	margin-left: 220px;
	margin-right: 20px;
	margin-top: 10px;
	background-color: #4bcefa;
}

#footer {
	width: 100%;
	height: 80px;
	position: sticky;
	margin-top: 2%;
	left: 0;
	margin-bottom: 0;
	text-align: center;
	background-color: rgba(105, 105, 105, 0.726);
	padding-top: 10px;
}
